Axis2SugarCRM/WebContent/WEB-INF/services/sugarsoap/META-INF/sugarsoap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://www.sugarcrm.com/sugarcrm" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.sugarcrm.com/sugarcrm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <types>
    <xsd:schema targetNamespace="http://www.sugarcrm.com/sugarcrm">
 <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
 <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" schemaLocation="http://schemas.xmlsoap.org/wsdl/"/>
 <xsd:complexType name="new_note_attachment">
  <xsd:all>
   <xsd:element name="id" type="xsd:string"/>
   <xsd:element name="filename" type="xsd:string"/>
   <xsd:element name="file" type="xsd:string"/>
   <xsd:element name="related_module_id" type="xsd:string"/>
   <xsd:element name="related_module_name" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="new_return_note_attachment">
  <xsd:all>
   <xsd:element name="note_attachment" type="tns:new_note_attachment"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="user_auth">
  <xsd:all>
   <xsd:element name="user_name" type="xsd:string"/>
   <xsd:element name="password" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="field">
  <xsd:all>
   <xsd:element name="name" type="xsd:string"/>
   <xsd:element name="type" type="xsd:string"/>
   <xsd:element name="group" type="xsd:string"/>
   <xsd:element name="label" type="xsd:string"/>
   <xsd:element name="required" type="xsd:int"/>
   <xsd:element name="options" type="tns:name_value_list"/>
   <xsd:element name="default_value" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="field_list">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:field[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="link_field">
  <xsd:all>
   <xsd:element name="name" type="xsd:string"/>
   <xsd:element name="type" type="xsd:string"/>
   <xsd:element name="relationship" type="xsd:string"/>
   <xsd:element name="module" type="xsd:string"/>
   <xsd:element name="bean_name" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="link_field_list">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:link_field[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="name_value">
  <xsd:all>
   <xsd:element name="name" type="xsd:string"/>
   <xsd:element name="value" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="name_value_list">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:name_value[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="name_value_lists">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:name_value_list[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="select_fields">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:string[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="deleted_array">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:int[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="new_module_fields">
  <xsd:all>
   <xsd:element name="module_name" type="xsd:string"/>
   <xsd:element name="module_fields" type="tns:field_list"/>
   <xsd:element name="link_fields" type="tns:link_field_list"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="entry_value">
  <xsd:all>
   <xsd:element name="id" type="xsd:string"/>
   <xsd:element name="module_name" type="xsd:string"/>
   <xsd:element name="name_value_list" type="tns:name_value_list"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="entry_list">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:entry_value[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="set_entries_detail_result">
  <xsd:all>
   <xsd:element name="name_value_lists" type="tns:name_value_lists"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="link_names_to_fields_array">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:link_name_to_fields_array[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="link_name_to_fields_array">
  <xsd:all>
   <xsd:element name="name" type="xsd:string"/>
   <xsd:element name="value" type="tns:select_fields"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="link_value">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:name_value[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="link_array_list">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:link_value[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="link_name_value">
  <xsd:all>
   <xsd:element name="name" type="xsd:string"/>
   <xsd:element name="records" type="tns:link_array_list"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="link_list">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:link_name_value[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="link_lists">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:link_list[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="get_entry_result_version2">
  <xsd:all>
   <xsd:element name="entry_list" type="tns:entry_list"/>
   <xsd:element name="relationship_list" type="tns:link_lists"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="return_search_result">
  <xsd:all>
   <xsd:element name="entry_list" type="tns:link_list"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="get_entry_list_result_version2">
  <xsd:all>
   <xsd:element name="result_count" type="xsd:int"/>
   <xsd:element name="next_offset" type="xsd:int"/>
   <xsd:element name="entry_list" type="tns:entry_list"/>
   <xsd:element name="relationship_list" type="tns:link_lists"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="get_server_info_result">
  <xsd:all>
   <xsd:element name="flavor" type="xsd:string"/>
   <xsd:element name="version" type="xsd:string"/>
   <xsd:element name="gmt_time" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="new_set_entry_result">
  <xsd:all>
   <xsd:element name="id" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="new_set_entries_result">
  <xsd:all>
   <xsd:element name="ids" type="tns:select_fields"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="new_set_relationhip_ids">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:select_fields[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="new_set_relationship_list_result">
  <xsd:all>
   <xsd:element name="created" type="xsd:int"/>
   <xsd:element name="failed" type="xsd:int"/>
   <xsd:element name="deleted" type="xsd:int"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="document_revision">
  <xsd:all>
   <xsd:element name="id" type="xsd:string"/>
   <xsd:element name="document_name" type="xsd:string"/>
   <xsd:element name="revision" type="xsd:string"/>
   <xsd:element name="filename" type="xsd:string"/>
   <xsd:element name="file" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="new_return_document_revision">
  <xsd:all>
   <xsd:element name="document_revision" type="tns:document_revision"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="module_list">
  <xsd:all>
   <xsd:element name="modules" type="tns:select_fields"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="get_entries_count_result">
  <xsd:all>
   <xsd:element name="result_count" type="xsd:int"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="md5_results">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:string[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="module_names">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:string[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="upcoming_activities_list">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:upcoming_activity_entry[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="upcoming_activity_entry">
  <xsd:all>
   <xsd:element name="id" type="xsd:string"/>
   <xsd:element name="module" type="xsd:string"/>
   <xsd:element name="date_due" type="xsd:string"/>
   <xsd:element name="summary" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="last_viewed_list">
  <xsd:complexContent>
   <xsd:restriction base="SOAP-ENC:Array">
    <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:last_viewed_entry[]"/>
   </xsd:restriction>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="last_viewed_entry">
  <xsd:all>
   <xsd:element name="id" type="xsd:string"/>
   <xsd:element name="item_id" type="xsd:string"/>
   <xsd:element name="item_summary" type="xsd:string"/>
   <xsd:element name="module_name" type="xsd:string"/>
   <xsd:element name="monitor_id" type="xsd:string"/>
   <xsd:element name="date_modified" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
</xsd:schema>
  </types>
  <message name="get_upcoming_activitiesRequest">
    <part name="session" type="xsd:string">
    </part>
  </message>
  <message name="set_campaign_mergeResponse">
  </message>
  <message name="get_note_attachmentRequest">
    <part name="session" type="xsd:string">
    </part>
    <part name="id" type="xsd:string">
    </part>
  </message>
  <message name="get_entriesResponse">
    <part name="return" type="tns:get_entry_result_version2">
    </part>
  </message>
  <message name="get_document_revisionResponse">
    <part name="return" type="tns:new_return_document_revision">
    </part>
  </message>
  <message name="get_last_viewedResponse">
    <part name="return" type="tns:last_viewed_list">
    </part>
  </message>
  <message name="get_module_fieldsResponse">
    <part name="return" type="tns:new_module_fields">
    </part>
  </message>
  <message name="loginResponse">
    <part name="return" type="tns:entry_value">
    </part>
  </message>
  <message name="set_campaign_mergeRequest">
    <part name="session" type="xsd:string">
    </part>
    <part name="targets" type="tns:select_fields">
    </part>
    <part name="campaign_id" type="xsd:string">
    </part>
  </message>
  <message name="get_document_revisionRequest">
    <part name="session" type="xsd:string">
    </part>
    <part name="i" type="xsd:string">
    </part>
  </message>
  <message name="logoutRequest">
    <part name="session" type="xsd:string">
    </part>
  </message>
  <message name="set_entriesResponse">
    <part name="return" type="tns:new_set_entries_result">
    </part>
  </message>
  <message name="seamless_loginRequest">
    <part name="session" type="xsd:string">
    </part>
  </message>
  <message name="set_note_attachmentRequest">
    <part name="session" type="xsd:string">
    </part>
    <part name="note" type="tns:new_note_attachment">
    </part>
  </message>
  <message name="get_relationshipsResponse">
    <part name="return" type="tns:get_entry_result_version2">
    </part>
  </message>
  <message name="get_entryRequest">
    <part name="session" type="xsd:string">
    </part>
    <part name="module_name" type="xsd:string">
    </part>
    <part name="id" type="xsd:string">
    </part>
    <part name="select_fields" type="tns:select_fields">
    </part>
    <part name="link_name_to_fields_array" type="tns:link_names_to_fields_array">
    </part>
  </message>
  <message name="set_document_revisionRequest">
    <part name="session" type="xsd:string">
    </part>
    <part name="note" type="tns:document_revision">
    </part>
  </message>
  <message name="get_entry_listRequest">
    <part name="session" type="xsd:string">
    </part>
    <part name="module_name" type="xsd:string">
    </part>
    <part name="query" type="xsd:string">
    </part>
    <part name="order_by" type="xsd:string">
    </part>
    <part name="offset" type="xsd:int">
    </part>
    <part name="select_fields" type="tns:select_fields">
    </part>
    <part name="link_name_to_fields_array" type="tns:link_names_to_fields_array">
    </part>
    <part name="max_results" type="xsd:int">
    </part>
    <part name="deleted" type="xsd:int">
    </part>
  </message>
  <message name="search_by_moduleRequest">
    <part name="session" type="xsd:string">
    </part>
    <part name="search_string" type="xsd:string">
    </part>
    <part name="modules" type="tns:select_fields">
    </part>
    <part name="offset" type="xsd:int">
    </part>
    <part name="max_results" type="xsd:int">
    </part>
    <part name="assigned_user_id" type="xsd:string">
    </part>
    <part name="select_fields" type="tns:select_fields">
    </part>
  </message>
  <message name="search_by_moduleResponse">
    <part name="return" type="tns:return_search_result">
    </part>
  </message>
  <message name="seamless_loginResponse">
    <part name="return" type="xsd:int">
    </part>
  </message>
  <message name="get_upcoming_activitiesResponse">
    <part name="return" type="tns:upcoming_activities_list">
    </part>
  </message>
  <message name="set_relationshipRequest">
    <part name="session" type="xsd:string">
    </part>
    <part name="module_name" type="xsd:string">
    </part>
    <part name="module_id" type="xsd:string">
    </part>
    <part name="link_field_name" type="xsd:string">
    </part>
    <part name="related_ids" type="tns:select_fields">
    </part>
    <part name="name_value_list" type="tns:name_value_list">
    </part>
    <part name="delete" type="xsd:int">
    </part>
  </message>
  <message name="set_entryResponse">
    <part name="return" type="tns:new_set_entry_result">
    </part>
  </message>
  <message name="get_module_fields_md5Response">
    <part name="return" type="tns:md5_results">
    </part>
  </message>
  <message name="get_relationshipsRequest">
    <part name="session" type="xsd:string">
    </part>
    <part name="module_name" type="xsd:string">
    </part>
    <part name="module_id" type="xsd:string">
    </part>
    <part name="link_field_name" type="xsd:string">
    </part>
    <part name="related_module_query" type="xsd:string">
    </part>
    <part name="related_fields" type="tns:select_fields">
    </part>
    <part name="related_module_link_name_to_fields_array" type="tns:link_names_to_fields_array">
    </part>
    <part name="deleted" type="xsd:int">
    </part>
    <part name="order_by" type="xsd:string">
    </part>
  </message>
  <message name="set_relationshipResponse">
    <part name="return" type="tns:new_set_relationship_list_result">
    </part>
  </message>
  <message name="get_module_fieldsRequest">
    <part name="session" type="xsd:string">
    </part>
    <part name="module_name" type="xsd:string">
    </part>
    <part name="fields" type="tns:select_fields">
    </part>
  </message>
  <message name="set_entryRequest">
    <part name="session" type="xsd:string">
    </part>
    <part name="module_name" type="xsd:string">
    </part>
    <part name="name_value_list" type="tns:name_value_list">
    </part>
  </message>
  <message name="set_entriesRequest">
    <part name="session" type="xsd:string">
    </part>
    <part name="module_name" type="xsd:string">
    </part>
    <part name="name_value_lists" type="tns:name_value_lists">
    </part>
  </message>
  <message name="get_last_viewedRequest">
    <part name="session" type="xsd:string">
    </part>
    <part name="module_names" type="tns:module_names">
    </part>
  </message>
  <message name="get_entry_listResponse">
    <part name="return" type="tns:get_entry_list_result_version2">
    </part>
  </message>
  <message name="get_entries_countResponse">
    <part name="return" type="tns:get_entries_count_result">
    </part>
  </message>
  <message name="loginRequest">
    <part name="user_auth" type="tns:user_auth">
    </part>
    <part name="application_name" type="xsd:string">
    </part>
    <part name="name_value_list" type="tns:name_value_list">
    </part>
  </message>
  <message name="get_available_modulesRequest">
    <part name="session" type="xsd:string">
    </part>
    <part name="filter" type="xsd:string">
    </part>
  </message>
  <message name="set_document_revisionResponse">
    <part name="return" type="tns:new_set_entry_result">
    </part>
  </message>
  <message name="get_available_modulesResponse">
    <part name="return" type="tns:module_list">
    </part>
  </message>
  <message name="logoutResponse">
  </message>
  <message name="get_module_fields_md5Request">
    <part name="session" type="xsd:string">
    </part>
    <part name="module_names" type="tns:select_fields">
    </part>
  </message>
  <message name="get_server_infoResponse">
    <part name="return" type="tns:get_server_info_result">
    </part>
  </message>
  <message name="get_server_infoRequest">
  </message>
  <message name="set_relationshipsRequest">
    <part name="session" type="xsd:string">
    </part>
    <part name="module_names" type="tns:select_fields">
    </part>
    <part name="module_ids" type="tns:select_fields">
    </part>
    <part name="link_field_names" type="tns:select_fields">
    </part>
    <part name="related_ids" type="tns:new_set_relationhip_ids">
    </part>
    <part name="name_value_lists" type="tns:name_value_lists">
    </part>
    <part name="delete_array" type="tns:deleted_array">
    </part>
  </message>
  <message name="get_user_team_idResponse">
    <part name="return" type="xsd:string">
    </part>
  </message>
  <message name="set_relationshipsResponse">
    <part name="return" type="tns:new_set_relationship_list_result">
    </part>
  </message>
  <message name="get_entriesRequest">
    <part name="session" type="xsd:string">
    </part>
    <part name="module_name" type="xsd:string">
    </part>
    <part name="ids" type="tns:select_fields">
    </part>
    <part name="select_fields" type="tns:select_fields">
    </part>
    <part name="link_name_to_fields_array" type="tns:link_names_to_fields_array">
    </part>
  </message>
  <message name="get_entries_countRequest">
    <part name="session" type="xsd:string">
    </part>
    <part name="module_name" type="xsd:string">
    </part>
    <part name="query" type="xsd:string">
    </part>
    <part name="deleted" type="xsd:int">
    </part>
  </message>
  <message name="get_entryResponse">
    <part name="return" type="tns:get_entry_result_version2">
    </part>
  </message>
  <message name="get_user_idRequest">
    <part name="session" type="xsd:string">
    </part>
  </message>
  <message name="set_note_attachmentResponse">
    <part name="return" type="tns:new_set_entry_result">
    </part>
  </message>
  <message name="get_note_attachmentResponse">
    <part name="return" type="tns:new_return_note_attachment">
    </part>
  </message>
  <message name="get_user_team_idRequest">
    <part name="session" type="xsd:string">
    </part>
  </message>
  <message name="get_user_idResponse">
    <part name="return" type="xsd:string">
    </part>
  </message>
  <portType name="sugarsoapPortType">
    <operation name="login">
      <input message="tns:loginRequest">
    </input>
      <output message="tns:loginResponse">
    </output>
    </operation>
    <operation name="logout">
      <input message="tns:logoutRequest">
    </input>
      <output message="tns:logoutResponse">
    </output>
    </operation>
    <operation name="get_entry">
      <input message="tns:get_entryRequest">
    </input>
      <output message="tns:get_entryResponse">
    </output>
    </operation>
    <operation name="get_entries">
      <input message="tns:get_entriesRequest">
    </input>
      <output message="tns:get_entriesResponse">
    </output>
    </operation>
    <operation name="get_entry_list">
      <input message="tns:get_entry_listRequest">
    </input>
      <output message="tns:get_entry_listResponse">
    </output>
    </operation>
    <operation name="set_relationship">
      <input message="tns:set_relationshipRequest">
    </input>
      <output message="tns:set_relationshipResponse">
    </output>
    </operation>
    <operation name="set_relationships">
      <input message="tns:set_relationshipsRequest">
    </input>
      <output message="tns:set_relationshipsResponse">
    </output>
    </operation>
    <operation name="get_relationships">
      <input message="tns:get_relationshipsRequest">
    </input>
      <output message="tns:get_relationshipsResponse">
    </output>
    </operation>
    <operation name="set_entry">
      <input message="tns:set_entryRequest">
    </input>
      <output message="tns:set_entryResponse">
    </output>
    </operation>
    <operation name="set_entries">
      <input message="tns:set_entriesRequest">
    </input>
      <output message="tns:set_entriesResponse">
    </output>
    </operation>
    <operation name="get_server_info">
      <input message="tns:get_server_infoRequest">
    </input>
      <output message="tns:get_server_infoResponse">
    </output>
    </operation>
    <operation name="get_user_id">
      <input message="tns:get_user_idRequest">
    </input>
      <output message="tns:get_user_idResponse">
    </output>
    </operation>
    <operation name="get_module_fields">
      <input message="tns:get_module_fieldsRequest">
    </input>
      <output message="tns:get_module_fieldsResponse">
    </output>
    </operation>
    <operation name="seamless_login">
      <input message="tns:seamless_loginRequest">
    </input>
      <output message="tns:seamless_loginResponse">
    </output>
    </operation>
    <operation name="set_note_attachment">
      <input message="tns:set_note_attachmentRequest">
    </input>
      <output message="tns:set_note_attachmentResponse">
    </output>
    </operation>
    <operation name="get_note_attachment">
      <input message="tns:get_note_attachmentRequest">
    </input>
      <output message="tns:get_note_attachmentResponse">
    </output>
    </operation>
    <operation name="set_document_revision">
      <input message="tns:set_document_revisionRequest">
    </input>
      <output message="tns:set_document_revisionResponse">
    </output>
    </operation>
    <operation name="get_document_revision">
      <input message="tns:get_document_revisionRequest">
    </input>
      <output message="tns:get_document_revisionResponse">
    </output>
    </operation>
    <operation name="search_by_module">
      <input message="tns:search_by_moduleRequest">
    </input>
      <output message="tns:search_by_moduleResponse">
    </output>
    </operation>
    <operation name="get_available_modules">
      <input message="tns:get_available_modulesRequest">
    </input>
      <output message="tns:get_available_modulesResponse">
    </output>
    </operation>
    <operation name="get_user_team_id">
      <input message="tns:get_user_team_idRequest">
    </input>
      <output message="tns:get_user_team_idResponse">
    </output>
    </operation>
    <operation name="set_campaign_merge">
      <input message="tns:set_campaign_mergeRequest">
    </input>
      <output message="tns:set_campaign_mergeResponse">
    </output>
    </operation>
    <operation name="get_entries_count">
      <input message="tns:get_entries_countRequest">
    </input>
      <output message="tns:get_entries_countResponse">
    </output>
    </operation>
    <operation name="get_module_fields_md5">
      <input message="tns:get_module_fields_md5Request">
    </input>
      <output message="tns:get_module_fields_md5Response">
    </output>
    </operation>
    <operation name="get_last_viewed">
      <input message="tns:get_last_viewedRequest">
    </input>
      <output message="tns:get_last_viewedResponse">
    </output>
    </operation>
    <operation name="get_upcoming_activities">
      <input message="tns:get_upcoming_activitiesRequest">
    </input>
      <output message="tns:get_upcoming_activitiesResponse">
    </output>
    </operation>
  </portType>
  <binding name="sugarsoapBinding" type="tns:sugarsoapPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="login">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/login" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
    <operation name="logout">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/logout" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
    <operation name="get_entry">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/get_entry" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
    <operation name="get_entries">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/get_entries" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
    <operation name="get_entry_list">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/get_entry_list" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
    <operation name="set_relationship">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/set_relationship" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
    <operation name="set_relationships">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/set_relationships" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
    <operation name="get_relationships">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/get_relationships" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
    <operation name="set_entry">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/set_entry" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
    <operation name="set_entries">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/set_entries" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
    <operation name="get_server_info">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/get_server_info" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
    <operation name="get_user_id">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/get_user_id" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
    <operation name="get_module_fields">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/get_module_fields" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
    <operation name="seamless_login">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/seamless_login" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
    <operation name="set_note_attachment">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/set_note_attachment" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
    <operation name="get_note_attachment">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/get_note_attachment" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
    <operation name="set_document_revision">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/set_document_revision" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
    <operation name="get_document_revision">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/get_document_revision" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
    <operation name="search_by_module">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/search_by_module" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
    <operation name="get_available_modules">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/get_available_modules" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
    <operation name="get_user_team_id">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/get_user_team_id" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
    <operation name="set_campaign_merge">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/set_campaign_merge" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
    <operation name="get_entries_count">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/get_entries_count" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
    <operation name="get_module_fields_md5">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/get_module_fields_md5" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
    <operation name="get_last_viewed">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/get_last_viewed" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
    <operation name="get_upcoming_activities">
      <soap:operation soapAction="http://localhost/sugarcrm/service/v3/soap.php/get_upcoming_activities" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.sugarcrm.com/sugarcrm"/>
      </output>
    </operation>
  </binding>
  <service name="sugarsoap">
    <port name="sugarsoapPort" binding="tns:sugarsoapBinding">
      <soap:address location="http://localhost/sugarcrm/service/v3/soap.php"/>
    </port>
  </service>
</definitions>
